# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

Introduction

In this lab we'll familiarize you with one sample hypothesis tests. You will also write Python code to conduct one sample hypothesis tests as well as construct confidence intervals

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in /Users/silviadifra/opt/anaconda3/lib/python3.9/site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in /Users/silviadifra/opt/anaconda3/lib/python3.9/site-packages (from scipy) (1.20.3)

In [2]:
# import numpy and pandas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
data = pd.read_csv('Salaries.csv',low_memory=False)

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

In [5]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [6]:
# Your code here:

In [7]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [8]:
# Your code here

In [9]:
display(data.shape)

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [10]:
# Your code here

In [11]:
data_drop = data.drop(['Notes'], axis=1) # axis = 1 -> columns
data_drop.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [12]:
# Your code here

In [13]:
data_drop['Status'].value_counts()

FT    22334
PT    15785
Name: Status, dtype: int64

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [14]:
# Your code here

In [15]:
# Your code here

In [16]:
data_drop=data_drop[data_drop['Status'].isna()==False]
data_drop.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [17]:
# Your code here

In [18]:
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [19]:
# Your code here

In [20]:
data_drop.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

BasePay, OtherPay, Benefits and Overtimepay should be a numerical

Do any type conversions and reset the index.

In [21]:
# Your code here

In [22]:
data_drop['BasePay']=pd.to_numeric(data_drop['BasePay'], errors='coerce')
data_drop['OvertimePay']=pd.to_numeric(data['OvertimePay'], errors='coerce')
data_drop['OtherPay']=pd.to_numeric(data_drop['OtherPay'], errors='coerce')
data_drop['Benefits']=pd.to_numeric(data_drop['Benefits'], errors='coerce')
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [23]:
from datetime import date

In [24]:
data_drop['Year'] = pd.to_datetime(data_drop['Year'], errors='coerce')

In [25]:
data_drop['Year'] = data_drop.Year.apply(lambda x: x.year)

In [26]:
# Your code here

In [27]:
data_drop.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,1970,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,1970,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,1970,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,1970,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,1970,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [28]:
# Your code here

In [29]:
data_drop['totalpaybenefits_tocheck']= data_drop['BasePay']+data_drop['OvertimePay']+data_drop['OtherPay']+data_drop['Benefits']

In [30]:
data_drop['TotalPayBenefits']==data_drop['totalpaybenefits_tocheck']

110531     True
110532    False
110533     True
110534    False
110535     True
          ...
148645     True
148647     True
148648     True
148649     True
148653     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [31]:
# Your code here:

In [32]:
(((data_drop['TotalPayBenefits']==data_drop['totalpaybenefits_tocheck']).value_counts()/len(data)))*100

True     18.900938
False     6.741830
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [33]:
# Your code here:

In [34]:
data_drop.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,totalpaybenefits_tocheck
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,1970,San Francisco,PT,510732.68
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,1970,San Francisco,FT,479652.21
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,1970,San Francisco,PT,436224.36
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,1970,San Francisco,FT,418019.22
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,1970,San Francisco,FT,417435.10

In [70]:
employeedepartmentalcount=data.groupby("JobTitle").agg({"Id": pd.Series.nunique})
employeedepartmentalcount.head()

                                                 Id
JobTitle
ACCOUNT CLERK                                    83
ACCOUNTANT                                        5
ACCOUNTANT INTERN                                48
ACPO,JuvP, Juv Prob (SFERS)                       1
ACUPUNCTURIST                                     1
...                                             ...
X-RAY LABORATORY AIDE                            26
X-Ray Laboratory Aide                           100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    1
Youth Comm Advisor                                4
ZOO CURATOR                                       1

[2159 rows x 1 columns]

In [73]:
employeedepartmentalcount=employeedepartmentalcount.rename(columns={'Id':'Employees'})
display(employeedepartmentalcount.head())

                             Employees
JobTitle
ACCOUNT CLERK                       83
ACCOUNTANT                           5
ACCOUNTANT INTERN                   48
ACPO,JuvP, Juv Prob (SFERS)          1
ACUPUNCTURIST                        1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [36]:
# Your code here: (compute the "Hourly_Wage")

In [74]:
import scipy.stats as st

In [75]:
data_drop["Hourly_Wage"]=data_drop["TotalPayBenefits"]/(50+40)
display(data_drop)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,totalpaybenefits_tocheck,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,1970,San Francisco,PT,510732.68,5674.807556
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,1970,San Francisco,FT,479652.21,5329.469000
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,1970,San Francisco,PT,436224.36,4846.937333
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,1970,San Francisco,FT,418019.22,4644.658000
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,1970,San Francisco,FT,417435.10,4638.167778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,1970,San Francisco,PT,0.00,0.000000
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,1970,San Francisco,PT,0.00,0.000000
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,1970,San Francisco,PT,0.00,0.000000
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,1970,San Francisco,PT,0.00,0.000000
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,1970,San Francisco,PT,-618.13,-6.868111

In [37]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [82]:
mean_hourly_wage =data_drop.groupby("Status").agg({"Hourly_Wage": pd.Series.mean})
mean_hourly_wage.head()

        Hourly_Wage
Status
FT      1539.204587
PT       512.421926

In [83]:
mean_hourly_wage=mean_hourly_wage.rename(columns={'Hourly_Wage':'mean_hourly_wage'})
display(mean_hourly_wage.head())

        mean_hourly_wage
Status
FT           1539.204587
PT            512.421926

In [86]:
mean_hourly_wage.loc['FT','mean_hourly_wage']

1539.204586828258

In [38]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [90]:
data_FT=(data_drop[data_drop['Status']=='FT'])
data_FT.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,totalpaybenefits_tocheck,Hourly_Wage
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,1970,San Francisco,FT,479652.21,5329.469000
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,1970,San Francisco,FT,418019.22,4644.658000
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,1970,San Francisco,FT,417435.10,4638.167778
110536,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,1970,San Francisco,FT,415767.94,4619.643778
110537,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,1970,San Francisco,FT,401070.87,4456.343000

In [91]:
from scipy.stats import ttest_1samp

In [93]:
data_FT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22334 entries, 110532 to 140325
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        22334 non-null  int64
 1   EmployeeName              22334 non-null  object
 2   JobTitle                  22334 non-null  object
 3   BasePay                   22334 non-null  float64
 4   OvertimePay               22334 non-null  float64
 5   OtherPay                  22334 non-null  float64
 6   Benefits                  22334 non-null  float64
 7   TotalPay                  22334 non-null  float64
 8   TotalPayBenefits          22334 non-null  float64
 9   Year                      22334 non-null  int64
 10  Agency                    22334 non-null  object
 11  Status                    22334 non-null  object
 12  totalpaybenefits_tocheck  22334 non-null  float64
 13  Hourly_Wage               22334 non-null  float64
dtypes: float64(8), int64(2), object(4)
memory usage: 2.6+ MB

In [109]:
stat_manual=(np.mean(data_FT['Hourly_Wage']) - 75)/ (np.std(data_FT['Hourly_Wage'], ddof=1)/np.sqrt(len(data_FT)))

In [110]:
stat_manual

411.320584057367

In [39]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [102]:
st.t.ppf(0.05/2,df=len(data_FT['Hourly_Wage'])-1)

-1.9600702128845597

In [104]:
st.t.ppf(1-(0.05/2),df=len(data_FT['Hourly_Wage'])-1)

1.9600702128845593

In [ ]:
you can reject the HO

In [40]:
# Method 2: Use the p-value method.
# Your code here:

In [111]:
st.t.cdf(stat,df=len(data_FT)-1) 
# this is pval/2. this is to be compared to alpha/2, where as pval is compared to the alpha value

1.0

In [41]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [107]:
stat, pval = ttest_1samp(data_FT['Hourly_Wage'], popmean = 75, alternative = "two-sided")
print(stat)
print(pval)

411.32058405736666
0.0

if stat< critical value or stat > critical value > reject H0

therefore

stat<scipy.stats.t.ppf(0.05/2,df=len(patients)-1) or

stat >scipy.stats.t.ppf(1-(0.05/2),df=len(patients)-1) reject H0

this is equivalent to using the pvalues as follows:

if pval < alpha reject the H0

which is equal to:

if scipy.stats.t.cdf(stat,df=len(patients)-1) < alpha/2: reject the null hypothesis

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [42]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [43]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [44]:
# Method 2: Use the p-value method.
# Your code here:

In [45]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [46]:
# Your code here: (Get the department which has most employees)

In [47]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [48]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [49]:
# Method 2: Use the p-value method.
# Your code here:

In [50]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [51]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [52]:
# Your code here:

#Â Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [53]:
# Your code here: (Create the function)

In [54]:
# Your code here: (Apply the function)

Determine how many "PT" and "FT" employess have all the employees groups.

In [55]:
# Your code here: (Store the output dataframe into a new variable)

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [56]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [57]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [58]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [59]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [60]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [61]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [62]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [63]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [64]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [65]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [66]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [67]:
# Your code here:

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [68]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function